:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --btn-bg-color: #0061FF;
    --link-color: #0F6AFF;
    --business-color: #61082B;
    --border-col-30: #F7F7F8;
    --bg-jumbo: #B4D0E7;
    --border-bottom: #F0F0F1;
    --bg-designit: #A2D39B;
    --border-designit: #D0E9CD;
    --bg-arizona: #61082B;
    --bg-florida: #0093CE;
    --bg-topps: #FF1C1C;
    --bg-bicycle: #D5001F;
    --bg-hearst: #B4D0E7;
    --bg-lonely: #0D2481;
    --bg-clear: #FFD830;
    --bg-partner: #F5F5F5;
    --hr-color: #E4E4E6;
    --color-time: #7E8B96;
    --hr-color-plan: #DBDBDD;
    --check-color: #0765FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}



img{
    width: 100%;
}

ul.unstyle{
    list-style: none;
}

/*.navbar{
    background-color: blue;
}*/

.navbar .col-50 {
    padding: 8px 45px;
}

a{
    text-decoration: none;
    color: black;
}

.navbar ul.unstyle {
    display: inline-block;
    
}

.navbar ul.unstyle>li {
    display: inline-block;
    margin: 0 25px;
    line-height: 30px;
}

.btn-nav {
    background-color: var(--btn-bg-color);
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}


.logo {
    display: inline-block;
    vertical-align: middle;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    width: 100%;
}

.row [class^="col-"] {
    float: left;
    

}

.col-50{
    width: 50%;
    height: 50px;
}



.dx{
    text-align: right;
}

.jumbo{
    width: 100%;
    background-color: var(--bg-jumbo);
    height: 780px;
    margin-bottom: 70px;
    padding-top: 50px;
}

.jumbo .row{
    padding-top: 50px;
}

.jumbo img{
    margin-left: 80px;
}
.title-cont{
    max-width:1550px;
    margin:auto;
    }

.title-cont h1{
    font-size: 86px;
  }

.title-cont .col-30{
    padding-right: 71px;
}

.btn {
 background-color: var(--btn-bg-color);
    color: white;
    padding: 5px 40px;
    text-decoration: none;
}

.btn-jumbo {
    margin: 40px 0;
}

.btn-jumbo>div {
    font-size: 16x;
    font-weight: 500;
    margin-top: 20px;
}

.container{
    width: 70%;
    max-width:1400px;
    margin:0 auto;
}

.col-33{
    width:33.33%;
    height: 300px;
    
}

.piani{
    margin-top: 150px;
}

.titolo{
    font-size: 30px;
    padding: 16px;
}

.selection-plan{
padding-top:30px;
padding-bottom: 30px;

}

.selection-plan label{
    font-size: large;
    vertical-align: middle;
}

.selection-plan input{
    width: 20px;
    height: 20px;
}

.piani .col-30, .col-100{
    
    border: 1px solid lightgray;
    margin-bottom: 100px;
}

/*.col-30-piani{
    width:30%;
    height:200px;
    background-color: #A2D39B;
}*/
 .marginlr{
     margin-left: 5%;
     margin-right:5%;
 }

.type{
    padding: 20px;
    border-bottom: solid 1px lightgray;
}

.align-center{
    text-align: center;
}

.type i{
    margin-right: 5px;
}

.elements{
    padding:32px 32px 0 32px;
}

.highlights>ul>li>span{
    color: #0061FF;
}

.highlights>ul>li{
    margin-top:20px;
}

.prezzo, .cadence, .users, .archive, .secure, .highlights{
    margin-bottom: 20px;
}
.elements>hr{
margin-bottom: 20px;
margin-right:280px;

}

.cadence{
    color: var(--color-time);
}

.elements span{
    color: black;
}
.btn-plan {
    padding: 15px 0 30px;
}

.buy-now{
    margin-top: 30px;
}

.buy-now>a{
    color: #0061FF;
}
 

.col-100{
    width:100%;  

    
}

.margin-bott{
    margin-bottom: 100px;
}

.partner{
    
    margin-bottom: 100px;
}

.partner .col-40{
    padding: 32px;
}


.col-40>p{
    margin-top: 30px;
    margin-bottom: 50px;
}

.col-40>h2{
    font-size: 25px;
}

.trova{
    color: var(--color-black);
    background-color: transparent;
    text-decoration: none;
    border: 1px solid var(--color-black);
    padding: 8px 20px;
    font-weight: 500;
}
.operazioni{
    margin-bottom: 100px;
}


.operazioni .col-30>strong{
    font-size: 30px;
}

.operazioni .col-30>p{
    margin-top: 20px;
}

.operazioni .col-30{
    margin-bottom: 50px;
}

.operazioni h2{
    font-size: 50px;
    margin-bottom: 50px;
}


.team .titolo>a{
    font-size: 15px;
    text-decoration: underline;
    color: #0061FF;
}

.team .titolo{
    margin-bottom: 50px;
}


.col-40{
    width: 40%;
    
    
}

.col-60{
    width: 60%;
   
    
    
}

.col-30{
    width:30%;
    
}

.col-left{
    
    height:576px;
    width:30%
}

.col-center{
    width:40%;
    height:576px;
    background-color:var(--bg-partner);
    padding: 40px;
}



.col-right{
    
    height:576px;
    width:30%
}

.col-lt{
    height: 288px;
    width:50%;
    
    
}
.logo-centrale img{
    width: 150px;
}

.logo-centrale p{

    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: 700;
}

.logo-centrale hr{
    margin-top: 30px;
    color: var(--hr-color);
    margin-right: 600px;
}

.center{
    width: 150px;
    filter: invert(1);
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.designit{
    background-color: var(--bg-designit);
    
       
}


.asu{
    background-color: var(--business-color);
    
}

.florida{
    background-color: var(--bg-florida);
    
}

.topps{
    background-color: var(--bg-topps);
    
}

.bicycle{
    background-color: var(--bg-bicycle);
    
}    

.hearst{
    background-color: var(--bg-hearst);
    
}

.lonely{
    background-color: var(--bg-lonely);
    
}

.clear{
    background-color:var(--bg-clear);
    
}

.trial{
    background-color: var(--bg-jumbo);
    height: 500px;
    padding: 125px 0  0 ;
}

.trial h2{
    font-size: 50px;
    color:var(--business-color)
}

.trial a{
    background-color: var(--color-white);
    padding: 10px 60px 10px 60px;
    margin-top: 10px;
}

.footer{
    background-color: #000000;
    height:300px;
}